@model CrowdCover.Web.Models.Sharpsports.BetSlip

@{
    ViewData["Title"] = "BetSlip Details";
}

<h2>BetSlip Details</h2>

<div>
    <h4>BetSlip</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bettor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bettor)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BettorAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BettorAccount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookRef)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookRef)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimePlaced)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimePlaced)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subtype)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subtype)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OddsAmerican)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OddsAmerican)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AtRisk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AtRisk)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToWin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToWin)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Outcome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Outcome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RefreshResponse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefreshResponse)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Incomplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Incomplete)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NetProfit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NetProfit)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateClosed)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeClosed)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeSpecial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeSpecial)
        </dd>

        @* Display Adjustments, if any *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adjusted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adjusted)
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a href="~/BetSlipsInput/Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
