@model CrowdCover.Web.Models.UserExtra

@{
    ViewData["Title"] = "UserExtra Details";
}

<h1>UserExtra Details</h1>

<div>
    <h4>UserExtra</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Username
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            UserId
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a href="~/UserExtraInput/Index" class="btn btn-secondary">Back to List</a>
</div>
